extends base

block content 
    main.main.container-fluid
        h1.title The Tea Shop
        .container 
            each tea in teas
                div.card
                    img(src= `img/${tea.image}`, alt=`${tea.name}`)
                    .card-body 
                        h5.card-title= tea.name
                        p.card-text= tea.summary
                        a.card-nav.nav__el(href=`/tea/${tea._id}`) View Tea Details


