extends base

block content 
    main.main
        h1.title A Delicious Tea Experience Awaits...
        .container-tea 
            div.card.mb-3
                img(src= `/img/${tea.image}`, alt=`${tea.name}`)
                .card-body 
                    h5.card-title= tea.name
                    p.card-text= tea.description
                    p.card-text= tea.price
                button.btn.btn-light Add to cart

                    